<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
    <listeners>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter" />
    </listeners>
    <test name="demotest">
        <classes>
            <class name="tests.DemoTest"/>
        </classes>
    </test>
</suite>